registry=https://registry.yarnpkg.com/
@faethm-ai:registry=https://npm.pkg.github.com
@pearsonwfs:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_PAT}
//npm.pkg.github.com/Faethm-ai/:_authToken=${GITHUB_PAT}
//npm.pkg.github.com/pearsonwfs/:_authToken=${GITHUB_PAT}
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
always-auth=true
@pearsonwfs/component-library